.body__footer {
  margin: 0 16px 24px;
}

@media all and (min-width: 768px) {
  .body__footer {
    margin: 0 24px 24px;
  }
}

@media all and (min-width: 1024px) {
  .body__footer {
    margin: 0 48px 24px;
  }
}
